@import "~bootstrap/scss/bootstrap";
$dark-blue: #222831;
$grey: #393e46;
$aqua: #00adb5;
$light-grey: #eeeeee;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;

    .section {
        width: 90%;
        height: 100%;
    }

    label {
        color: $light-grey;
    }
}